@import "../abstracts/variables";

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    display: inline-block;
    box-shadow: .5rem .5rem 2rem $color-grey-dark;
    position: relative;
  }

  &--white {
    background-color: #FFF;
    color: $color-grey-dark;
  }

  &:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--animated {
    animation: moveInBottom 2s ease-out;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all .5s;
  }

  &--white::after {
    background-color: #FFF;
  }

  &:hover::after {
    transform: scale(2);
    opacity: 0
  }
}