@import "../abstracts/variables";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
  padding: 1rem;
  box-sizing: border-box;
}

.heading-primary {
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 6rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 2rem;
    font-weight: 400;
    animation: moveInLeft 2s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    font-weight: 400;
    animation: moveInRight 2s ease-out;
  }
}